.MuiPaper-root.MuiDrawer-paper.makeStyles-drawerPaper-4.MuiDrawer-paperAnchorRight.MuiDrawer-paperAnchorDockedRight.MuiPaper-elevation0{
   display: flex;
   justify-content: space-evenly;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
   color: green;
   background-color: black;
}